body{
    background-image:url('/static/imgs/tasky_pattern.png');
    padding:5px;
    border:1px solid black;
}

.custom-hero{
    padding: 30px;
    border-radius:20px;
    border:2px solid gray;
    background:rgba(0, 0, 0, 0.2);
    position:relative;
}

.numbers {
    margin-top: 50px;
    list-style-type: none;
}

.phone-buttons {
    margin-top: 10px;
}
