<!DOCTYPE>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">

        <title>Prank Roulette</title>

        <link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css" media="screen" title="master" charset="utf-8">
        <link rel="stylesheet" href="/static/css/bootstrap-responsive.css" type="text/css" media="screen" title="master" charset="utf-8">
        <link rel="stylesheet" href="/static/style.css" type="text/css">
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script type="text/javascript" src="/static/interactivity.js"></script>
        <script type="text/javascript"
            src="//static.twilio.com/libs/twiliojs/1.1/twilio.min.js"></script>
        <script type="text/javascript">

            /* Create the Client with a Capability Token */
        Twilio.Device.setup("{{ token }}");

        function call() {
            //get the phone number to connect the call to
            params = {"PhoneNumber1": $("#caller1").val(), "PhoneNumber2": $("#caller2").val(), "PhoneNumber3": $("#hidden3").val(), "PhoneNumber4": $("#hidden4").val(), "PhoneNumber5": $("#hidden5").val(), "State": $("#states").val()};
            Twilio.Device.connect(params);
        }

        function hangup() {
            Twilio.Device.disconnectAll();
        }
        </script>
    </head>

    <body>
        {% block content %}
        <div class="container">

            <div class="row">
                <div class="span2">
                </div>

                <div id="logoDiv" class="span8" align="center">
                    <img src="/static/imgs/pranklogo.png"></img>
                </div>

            </div>

            <div class="row">

                <div class="span3">
                </div>

                <div id="everythingElse" class="span6 custom-hero" align="center">
                    <div id='textGroup'>
                        <div id="selectDiv">
                            <select id="states" name="states">
                                <option value="1">Select state</option>
                                <option value="1">California</option>
                                <option value="0">Pennsylvania</option>
                            </select>
                        </div>

                        <h2>Enter up to 5 phone numbers:</h2>
                        <input type="text" name="number1" id="caller1" placeholder="Number 1">
                        <br>
                        <input type="text" name="number2" id="caller2" placeholder="Number 2">
                    </div>

                    <div class="span3">
                    </div>
                    <br>

                    <div class="btn-group" align="center">
                        <button class="btn btn-primary" onclick="call();" type="submit" id='prank'>Prank</button>
                        <button class="btn btn-success" type="button" id="addCall" name="addCall">Add Call</button>
                        <button class="hangup btn btn-warning" onclick="hangup();"> Hangup</button>
                    </div>

                </div>

                <div>
                    <input type="hidden" id="hidden3" name="number3" value=""/>
                    <input type="hidden" id="hidden4" name="number4" value=""/>
                    <input type="hidden" id="hidden5" name="number5" value=""/>
                </div>
            </div>
            <script src="/static/js/vendor/jquery-1.8.2.min.js" type="text/javascript"></script>
            <script src="/static/js/bootstrap/bootstrap.js" type="text/javascript"></script>
            <script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
            {% endblock %}
        </body>
</html>
