<!DOCTYPE>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">

        <title>Prank Roulette</title>

        <link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css" media="screen" title="master" charset="utf-8">
        <link rel="stylesheet" href="/static/css/bootstrap-responsive.css" type="text/css" media="screen" title="master" charset="utf-8">
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script type="text/javascript" src="/static/interactivity.js"></script>
    </head>

    <body style="background-image:url(static/imgs/escheresque.png);padding:5px;border:1px solid black;">
        {% block content %}
        <form name="form" method="POST" action="/prank">
            <div class="container">
                <h1 id="banner">Prank Roulette!</h1>

                <div id="buttonDiv">
                    <button type="button" class="btn btn-primary" id="aboutButton">About</button>
                </div>

                <div id="about" class="hero-unit">
                    <p>
                    <h5>PrankRoulette allows you to put in between 2-5 phone numbers and start a conference call between them all, including your number to listen on the conversation!  put together two restuarants, two old friends, or even your friend and his ex (we are not taking responsibility for any damage that you cause).  the best part is they have no idea who is calling them.  just some random number from PA or CA (your choice).
                    <br>
                    Disclaimer: PrankRoulette, and it's developers, take no responsibility for any havoc that you may wreak on people. That is on YOU! So be careful, but have fun!</h5>
                    </p>
                </div>

                <div id="containerTop" class="hero-unit">


                    <div id='userNumberDiv'>
                        <h2>What is your phone number?</h2>
                        <h5> (Don't forget to turn your phone on mute when you receive the call!) </h5>
                        <input type="text" name='userNumber' id='userNumber' placeholder="So you can listen in!">
                        <br>
                    </div>

                    <div id="selectDiv">
                        <select name="states">
                            <option value="1">Select state</option>
                            <option value="1">California</option>
                            <option value="0">Pennsylvania</option>
                        </select>
                    </div>

                </div>

                <div id='textGroup' class='hero-unit'>
                    <h2>Enter up to 5 phone numbers:</h2>
                    <input type="text" name="caller1" id="caller1" placeholder="Number 1">
                    <br>
                    <input type="text" name="caller2" id="caller2" placeholder="Number 2">
                </div>

                <div class="btn-toolbar">
                    <div class="btn-group">
                        <button class="btn btn-primary" type="submit" id='prank'>Prank!</button>
                        <button class="btn btn-success" type="button" id="addCall" name="addCall">Add Call</button>
                    </div>
                </div>

                <div>
                    <input type="hidden" id="hidden3" name="caller3" value=""/>
                    <input type="hidden" id="hidden4" name="caller4" value=""/>
                    <input type="hidden" id="hidden5" name="caller5" value=""/>
                </div>

        </form>
        <script src="/static/js/vendor/jquery-1.8.2.min.js" type="text/javascript"></script>
        <script src="/static/js/bootstrap/bootstrap.js" type="text/javascript"></script>
        <script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
        {% endblock %}
    </body>
</html>
